   <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">New User <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>@Email</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                        <tr>
                            <td>{{inc @index}}</td>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                             <td>{{gender}}</td>
                            <td>{{status}}</td>
                            <td>
                            <a href="/update?id={{_id}}" class="btn border-shadow update">
                                 <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a class="btn border-shadow delete" data-id={{_id}}
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </form>
        </div>
    </main>